body{
    overflow: hidden;
}

.content {
    justify-content: center;  
    align-items: center;       
    height: 100vh;
}

.receitas{
    display: grid;
    grid-template-columns: repeat(2, 328px); /* 2 colunas de 300px cada */
    justify-content: center;
}

.receita-container{
    height: 185px;
    width: 288px;
    display: flex;
    margin-bottom: 33px;
}

.receita-container-img{
    background-size: cover;
    height: 185px;
    width: 144px;
}

.receita-img{
    max-width: 100%;
    max-height: auto; 
}

.receita-info{
    background-color: #FFFBE9;
    display: grid;
    width: 144px;
    height: 185px;   
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; 
}

.receita-nome{
    font-weight: 700;
    font-size: 16px;
}

.receita-text{
    font-weight: 500;
    font-size: 12px;
}

.ver-btn {
    display: grid;
    justify-content: center;
    align-items: center; 
    color: black;
    font-weight: 600;
    border-radius: 23px;
    height: 26px;
    width: 51px;
    font-size: 12px;
    margin-left: auto;
}