body{
    overflow: hidden;
}

.content {
    display: flex;  
    justify-content: center; 
    margin-top: 50px; 
    height: 100vh; 
}

.categoria-container{
    width: 225px;
    height: 414px;
    margin: 27px;
    background-size: cover;
    display: flex;        /* Flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center;  /* Centraliza a imagem verticalmente */
}

.categoria-nome{
    font-family: "Inria Sans", system-ui;
    font-weight: 700;
    font-style: italic;
    font-size: 32px;
    position: absolute;
    text-align: center;
}

.categoria-img{
    position: relative;
    max-width: 100%;
    max-height: auto; 
}


@media (max-width:425px) {
    body{
        overflow: scroll;
    }
    .navbar {
        height: 60px;
        .title{
            font-size: 23px;
            margin-top: 16px;
            margin-left: 15px;
        }
        .menubar{
            margin-top: 24px;
            margin-right: 15px;
            font-size: 12px;
            .sobre-mim{
                margin-right: 10px;
            }
        }
    }
    .content {
        display: grid;
        margin-top: 10px;
    }
    .categoria-container{
        background-size: cover;
        display: flex;        /* Flexbox para centralizar o conteúdo */
        justify-content: center; /* Centraliza a imagem horizontalmente */
        align-items: center;
        margin-bottom: 5px;  /* Centraliza a imagem verticalmente */
        .categoria-nome{
            font-family: "Inria Sans", system-ui;
            font-weight: 700;
            font-style: italic;
            font-size: 20px;
            position: absolute;
            text-align: center;
        }
    }
}