body{
    overflow-x: hidden; /* Remove a rolagem horizontal */
    overflow-y: auto;
}

ul{
    padding-left: 20px; /* Restaura o espaçamento à esquerda */
    list-style-type: disc; /* Define o estilo do marcador, por exemplo, "disc" */
  }
ol {
    padding-left: 20px;
    list-style-type: decimal;
}

/* Centralizar o conteúdo */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-top{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 650px;
}

.voltar-btn{
    position: absolute;
    left: 0;
}

.title-receita {
    text-align: center;
    font-size: 30px;
}

.title-receita,.receita-topico{
    color: #382D23;
}

.receita-container-img{
    margin-left: 20px;
    margin-top: 13px;
    background-size: cover;
    max-width: 300px;
}

.receita-img{
    max-width: 100%;
    max-height: 223px;
}

/* Ajustes para o modo de preparo */
.receita-topico {
    font-size: 24px;
    margin-top: 13px;
    margin-bottom: 12px;
    text-align: left;
}

.topico-ingredientes{
    display: flex;
    min-width: 644px;
}

.topico-preparo{
    max-width: 644px;
    margin-bottom: 30px;
}

@media (max-width:426px) {
    .content-top{
        margin-top: 3px;
        width: 300px;
        flex-direction: column;
        position: static;  
    }
    .voltar-btn{
        position: static;
        margin-bottom: 3px;
    }
    .receita-titulo{
        font-size: 15px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .topico-ingredientes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .receita-container-img{
            margin-top: 50px;
            display: block; /* Faz a imagem se comportar como um bloco */
            margin: 0 auto;
        }
    }
}